# Default ignored files
/workspace.xml

target
.idea

# Project exclude paths
/target/
/.idea/
.vscode/
.settings/
.project
.classpath

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr